
head
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   meta(charset="UTF-8")
   //base( href="/")
   title Online Sell old books | Buy books of every stream - padhkbecho.com
   link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
   link(rel="stylesheet" href="/static/stylesheets/style.css")
   link(rel="stylesheet" href="/angularBar/loading-bar.css")
   link(rel="stylesheet" href="/growl/angular-growl.css")
   link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
   link(href="https://fonts.googleapis.com/css?family=Strait")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
   script(src="//localhost:35729/livereload.js")
   script(src="/angular/angular.js" type="text/javascript")
   script(src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA7C_aSSQ3uJxon0mNGG3Q_0Mkz_aJHeQk")
   script(src="/build/libs/libs.min.js")
   script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer)
   script(src="/ui-boot/ui-bootstrap-tpls.js")
   script(src="build/concat.js")

