ntnav(ng-controller="headerCtrl" class="navbar navbar-default navbar-fixed-top")
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(ui-sref="landing" collapse-nav) Padhkbecho

        #navbar.navbar-collapse.collapse(aria-expanded='false', style='height: 1px;')
            ul.nav.navbar-nav
                li(ui-sref-active="active")
                    a(ui-sref="requestBook" collapse-nav) Request Book
                li(ui-sref-active="active")
                    a(ui-sref="postBook" collapse-nav) Post book

            .col-sm-3.col-md-3.searchForm
                form.navbar-form(role='search')
                    .input-group
                        input#srch-term.form-control(type='text', ng-model="searchParam" placeholder='Book title/Author' name='srch-term')
                        .input-group-btn
                            button.btn.btn-default(type='submit' collapse-nav ng-click="search()")
                                i.glyphicon.glyphicon-search

            .btn-group(uib-dropdown='', is-open='status.isopen' ng-if="login == true" on-toggle="toggled(open)").col-md-1.col-lg-1.col-lg-offset-2
                button#single-button.btn.btn-primary(type='button', uib-dropdown-toggle='', ng-disabled='disabled' style="padding:17px")
                    span.badge.notCount {{unreadNotifications}}
                    span.glyphicon.glyphicon-bullhorn
                    span.caret
                ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='single-button').not-width
                    li(ng-repeat="n in notifications")
                        a(collapse-nav message-id="{{n.messageId}}" notification-id="{{n._id}}" book-id="{{n.bookId}}" notification-detail )  {{n.notText}}

                    li.divider
                    li.text-center
                        a(ui-sref="profile" collapse-nav ng-if="login == true") See all


            ul(ng-if="login == true").col-md-2.col-lg-2.pull-right.nav.navbar-nav.loggedInList

                li.dropdown.pull-right.truncate-200
                    a.dropdown-toggle(data-toggle='dropdown' style="cursor: pointer")
                        | {{user.local.email}}
                        span.caret
                    ul.dropdown-menu
                        li
                            a(ui-sref="profile" collapse-nav ng-if="login == true") profile
                        li
                            a(ui-sref="subscribe" collapse-nav ng-if="login == true") subscribe
                        li
                            a(ui-sref="logout" collapse-nav ng-if="login == true") Logout






            ul(ng-if="login == false" style="padding-right:0").nav.navbar-nav.col-sm-12.col-md-2.loginList.list-unstyled
                li(ui-sref-active="active")
                    a(ui-sref="login" collapse-nav ng-if="login==false") Login

                li(ui-sref-active="active")
                    a(ui-sref="signup" ng-if="login==false" collapse-nav style="color:black" class="btn btn-danger")
                        strong Sign Up