extends  ../admin.index.jade
block admin-content
   div.row
      div.col-sm-12
         h1 Books
         ul
            li
               a(href="/admin/book/create") Create Book
            li
               a(href="/admin/book") View Book list
         block book-content
