    extends  admin_book_layout.jade
block book-content
    div.row
        div.col-sm-12


            form(method="post" class="form-horizontal" action="/admin/book/create" enctype="multipart/form-data")
                fieldset
                    legend Create Book
                    .form-group
                        label.col-lg-2.control-label(for='inputEmail') Book title
                        .col-lg-10
                            input#inputEmail.form-control(placeholder='Book title', type='text' name="title" required)

                    .form-group
                        label.col-lg-2.control-label(for='textArea' ) Description
                        .col-lg-10
                            textarea#textArea.form-control(rows='3' name="description" required=)
                            span.help-block
                                | Describe the book

                    .form-group
                        label.col-lg-2.control-label(for='select') Category
                        .col-lg-10
                            select(name="category" required)#select.form-control
                                each term in terms
                                    option(value="#{term}") #{term}

                    .form-group
                        label.col-lg-2.control-label(for='inputEmail' ) Author
                        .col-lg-10
                            input#inputEmail.form-control(placeholder='Author', type='text' name="author" required)

                    .form-group
                        label.col-lg-2.control-label(for='inputEmail') Contact number
                        .col-lg-10
                            input#inputEmail.form-control(placeholder='contact number', type='text' name="contact_number" required)

                    .form-group
                        label.col-lg-2.control-label(for='inputEmail') Book Image
                        .col-lg-10
                            input#inputEmail.form-control(placeholder='Image', type='file' name="image" required)

                    .form-group
                        label.col-lg-2.control-label(for='inputEmail') Price
                        .col-lg-10
                            input#inputEmail.form-control(placeholder='price', type='text' name="price" required)

                    .form-group
                        .col-lg-10.col-lg-offset-2
                            button.btn.btn-default(type='reset') Cancel
                            button.btn.btn-primary(type='submit') Submit