extends  admin_taxonomy_layout.jade


block taxonomy-content
   ul
      - each stuff in taxonomies
         li
            a(href='/admin/taxonomy/'+stuff._id+'/term/add'  )=  stuff.taxonomy_title



