extends  admin_taxonomy_layout.jade

block taxonomy-content
   div.row
      div.col-sm-12

         form(method="post" class="form-horizontal" action="/admin/taxonomy/create")
            fieldset
               legend Create taxonomy
               .form-group
                  label.col-lg-2.control-label(for='inputEmail') Taxonomy title
                  .col-lg-10
                     input#inputEmail.form-control(placeholder='Taxonomy title', type='text' name="taxonomy_title")

               .form-group
                  .col-lg-10.col-lg-offset-2
                     button.btn.btn-default(type='reset') Cancel
                     button.btn.btn-primary(type='submit') Submit



