//
   Created by ashish on 21/9/16.

doctype html
html(lang="en" dir="ltr")
   block head
      include admin.head.jade
   body
      div.container
         div.header
            include ../partials/header
         div.row
            div.col-sm-3.well
                  ul
                      li.text-center
                          a(href='/admin/taxonomy' ) Taxonomy
                      li.text-center
                          a(href='/admin/book' ) Book
            div.col-sm-9
               block admin-content

