extends  admin_taxonomy_term_layout

block taxonomy-term-content
   div.row
      div.col-sm-12

         - each term in terms
             div.btn.btn-success #{term}

         form(method="post" class="form-horizontal" action="/admin/taxonomy/term/add")
            fieldset
               legend Create Term for <strong> !{title} </strong>
               .form-group
                  label.col-lg-2.control-label(for='inputEmail') Term title
                  .col-lg-10
                     input#inputEmail.form-control(placeholder='Taxonomy title', type='text' name="term")
                     input#inputEmail.form-control(placeholder='Taxonomy title', type='hidden'  name="documentId" value="#{id}")

               .form-group
                  .col-lg-10.col-lg-offset-2
                     button.btn.btn-default(type='reset') Cancel
                     button.btn.btn-primary(type='submit') Submit