extends  admin.index.jade
block admin-content
    div.row
        div.col-sm-12
            h1 Taxonomy
            ul
                li
                    a(href="/admin/taxonomy/create") Create taxonomy
                li
                    a(href="/admin/taxonomy") View taxonomy list
            block taxonomy-content

