
head
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   meta(charset="UTF-8")
   title Bukbuy
   link(rel="stylesheet" href="/gn/vendors/bootstrap/dist/css/bootstrap.css")
   link(rel="stylesheet" href="/gn/vendors/font-awesome/css/font-awesome.min.css")
   link(rel="stylesheet" href="/gn/vendors/iCheck/skins/flat/green.css")
   link(rel="stylesheet" href="/gn/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")
   link(rel="stylesheet" href="/gn/production/css.maps/jquery-jvectormap-2.0.3.css")
   link(rel="stylesheet" href="/gn/build/css/custom.css")
   //link(rel="stylesheet" href="/static/stylesheets/style.css")
   link(rel="stylesheet" href="/angularBar/loading-bar.css")
   link(rel="stylesheet" href="/growl/angular-growl.css")
   link(rel="stylesheet" href="/grid/ui-grid.css")
   //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
   //link(href="https://fonts.googleapis.com/css?family=Strait")



   script(src="/angular/angular.js" type="text/javascript")
   script(src="/angularBar/loading-bar.js" type="text/javascript")
   script(src="/ui-router/angular-ui-router.js")
   script(src="/cookies/angular-cookies.js")
   script(src="/underscore/underscore.js")
   script(src="/angular-validation/angular-validation.js")
   script(src="/angular-validation/angular-validation-rule.js")
   script(src="/grid/ui-grid.js")
   script(src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false")
   script(src="/places/ngAutocomplete.js")
   script(src="/afu/angular-file-upload.js")
   script(src="/growl/angular-growl.js")
   script(src="/static/javascripts/adminJS/adminApp.js")
   //script(src="/socket/node_modules/socket.io-client/socket.io.js")
   //script(src="/socket-angular/socket.js")
   //script(src="/static/javascripts/adminJS/notification.js")
   script(src="/static/javascripts/service/service.js")
   script(src="/static/javascripts/adminJS/directive/adminDirective.js")
   script(src="/static/javascripts/adminJS/controller/adminCtrls.js")


