div(class="row" class="createUserContainer")
    div.text-center().col-sm-12.col-md-push-7.col-md-3
        img(src="/static/images/1475244781_key.png" width="60")
        h2 Sign up
        form( name="createUser")
            .boxw
                div(ng-class="{'has-error':!createUser.email.$valid && createUser.email.$dirty,'has-success':createUser.email.$valid && createUser.email.$dirty}")
                    input(type='email', class="form-control" placeholder='email' ng-model="data.email" name="email" required
                    email-success-message="Valid Email" uib-tooltip="Invalid Email" tooltip-is-open="!createUser.email.$valid && createUser.email.$dirty" tooltip-trigger="'none'" tooltip-placement="bottom" )
                div(ng-class="{'has-error':!createUser.password.$valid && createUser.password.$dirty,'has-success':createUser.password.$valid && createUser.password.$dirty}")
                    input(ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/" type='password', uib-tooltip="{{patternMessage(createUser.password.$valid)}}"  class="form-control" placeholder='password' ng-model="data.password" tooltip-placement="bottom" tooltip-trigger="'focus'" name="password" required )
                div
                    input(type='text', class="form-control" uib-tooltip="Required"   placeholder='Full name' ng-model="data.full_name" name="full_name" tooltip-trigger="'focus'" required tooltip-placement="bottom")
                div
                    input(type='text', class="form-control" uib-tooltip="Required" placeholder='Contact number' ng-model="data.contact_number" name="contact_number" tooltip-trigger="'focus'" required tooltip-placement="bottom")
                div
                    input(type='text', class="form-control" uib-tooltip="Required" placeholder='location' ng-model="data.location" name="location"  required ng-autocomplete tooltip-trigger="'focus'"  options="options" details="details" tooltip-placement="bottom")
                div(vc-recaptcha key="'6LeKFgoUAAAAAL41GT35g3fpJts330_JC5orh1WX'" ng-model="data.myRecaptchaResponse")
                button( ng-class="{'btn-danger':!createUser.$valid,'btn-success':createUser.$valid}" tooltip-placement="bottom-right" ng-disabled="!createUser.$valid" ng-click="signUp()" style="margin-top:10px").btn.btn-default.full-width
                    span.glyphicon.glyphicon-ok
                    strong Sign Up

    real-time-stream().col-sm-12.col-md-5.col-md-pull-2

