//TODO-bob add site tour
//TODO-bob make UI more magical but this to be done at the end
div(class="col-sm-2" ui-view="filters")
div(class="col-sm-10" ui-view="content")
div(class="col-sm-4 col-sm-offset-2" ui-view="signup")
div(class="col-sm-4" ui-view="login")