div(class="row"  class="logInUserContainer")

    .col-sm-12.col-md-push-7.col-md-3
        form( method="post" class="text-center" name="loginUser")
            img(src="/static/images/1475244781_key.png" width="60")
            h2 Login
            .box
                div(ng-class="{'has-error':!loginUser.email.$valid && loginUser.email.$dirty,'has-success':loginUser.email.$valid && loginUser.email.$dirty}")
                    input(type='text', class="form-control" placeholder='email' ng-model="data.email" name="email" required)
                input(type='password', class="form-control" placeholder='password' ng-model="data.password" name="password" required)
                button(ng-class="{'btn-danger':!loginUser.$valid,'btn-success':loginUser.$valid}" ng-click="signIn()" style="margin-top:10px").btn.btn-default.full-width
                    span.glyphicon.glyphicon-ok
                    strong Log In
                a(class="btn btn-success"  style="margin-top:10px" ui-sref="signup")
                    strong Not a member, SignUP?
    .col-sm-12.col-md-5.col-md-pull-2
        real-time-stream()
