.modal-header
   h3.modal-title {{vm.content.title}}
.modal-body
   .form-group
      label(for='comment') Message:
      textarea#comment.form-control(rows='3' ng-model="vm.message")
    span.text-muted Your contact information will be shared with this user
    span(style="font-size: 6px;color: red;top: -7px;").glyphicon.glyphicon-asterisk
.modal-footer
   button.ad-button.ad-blue(type='button', ng-click='vm.confirm()').btn.btn-success
      | Message
   button.ad-button.ad-blue(type='button', ng-click='vm.cancel()').btn.btn-danger
      | cancel

