.modal-header
    h3.modal-title {{vm.title}}
.modal-body
    .form-group
        label(for='comment') Message:
        blockquote.blockquote
                p

                  em    | " {{::vm.detail.message.message}} "


    div.row

        div.col-xs-12
            h4 Book info
            div.col-xs-4
                .thumbnail
                    img.group.list-group-image.img-responsive.img-thumbnai(style="width:204px;height:164px;" src='/static/images/books/{{vm.detail.book.img_info.filename}}' alt='hii')
            div.col-xs-8
                dl( class="")
                    dt Book title
                    dd {{::vm.detail.book.title}}
                    dt Author
                    dd {{::vm.detail.book.author}}
                    dt Price
                    dd {{::vm.detail.book.price}}
                    dt category
                    dd {{::vm.detail.book.category}}

    h4 Contact Info
    dl( class="dl-horizontal")
        dt Name
        dd {{::vm.detail.book.created_by.local.full_name}}
        dt Location
        dd {{::vm.detail.book.created_by.local.location}}
        dt Email
        dd {{::vm.detail.book.created_by.local.email}}
        dt Phone
        dd {{::vm.detail.book.created_by.local.contact_number}}
        dt User since
        dd {{::vm.detail.book.created_by.local.created }}


.modal-footer
    button.ad-button.ad-blue(type='button', ng-click='vm.confirm()').btn.btn-success
        | Message
    button.ad-button.ad-blue(type='button', ng-click='vm.cancel()').btn.btn-danger
        | cancel
