
div.col-sm-12.col-md-9.col-lg-10.col-lg-push-2.col-md-push-3
         form(method="post" class="form-horizontal"  enctype="multipart/form-data")
            fieldset
               legend Post Book
               .form-group
                  label.col-lg-2.control-label(for='inputEmail') Book title
                  .col-lg-10
                     input#inputEmail.form-control(placeholder='Book title', type='text' name="title" required ng-model="data.title")
               .form-group
                  label.col-lg-2.control-label(for='textArea' ) Description
                  .col-lg-10
                     textarea#textArea.form-control(rows='3' name="description" required ng-model="data.description")
                     span.help-block
                        | Describe the book
               .form-group
                  label.col-lg-2.control-label(for='select') Category
                  .col-lg-10
                     select(name="category" required ng-model="data.category")#select.form-control
                           option( ng-repeat="term in terms" value="{{term}}") {{term}}
               .form-group
                  label.col-lg-2.control-label(for='inputEmail' ) Author
                  .col-lg-10
                     input#inputEmail.form-control(placeholder='Author', type='text' name="author" required ng-model="data.author")
               //.form-group
               //   label.col-lg-2.control-label(for='inputEmail') Book Image
               //   .col-lg-10
               //      input#inputEmail.form-control(placeholder='Image', type='file' name="image" required)

               .form-group
                  label.col-lg-2.control-label(for='inputEmail') Image upload
                  .col-lg-10
                     input#inputEmail.form-control(placeholder='Image', type='file' name="image" required nv-file-select uploader="uploader")

               .form-group
                  label.col-lg-2.control-label(for='inputEmail') Price
                  .col-lg-10
                     input#inputEmail.form-control(placeholder='price', type='text' name="price" required ng-model="data.price")
               .form-group
                  .col-lg-10.col-lg-offset-2
                     button.btn.btn-default(type='reset') Cancel
                     button.btn.btn-primary(type='submit' ng-click="postBook()") Submit
sidebar-terms(class="col-sm-12 col-md-3 col-lg-2 col-lg-pull-10 col-md-pull-9 "  )