//TODO-bob Add image for user and add default image for user dont upload image
sidebar-terms(class="col-sm-12 col-md-3 col-lg-2 "  )
div(class="col-sm-12 col-md-9 col-lg-10")
   .row
    .col-sm-4
        .panel.panel-success
            .panel-heading Books uploaded
            .panel-body <strong class="lead">20</strong> <a href="/#/post/book">Add more books</a>

    .col-sm-4
        .panel.panel-primary
            .panel-heading Wishlist
            .panel-body <strong class="lead">20</strong> <a href="/#/">View book</a>
    .col-sm-4
        .panel.panel-warning
            .panel-heading Panel with panel-warning class
            .panel-body Panel Content