div.howItWorks
   h1 How it works
      h3 Raise book request
   p.text-primary(style="line-height:25px")  Raise a book request. Users subscribed with that category will get realtime notification & your details
      h3 Upload book you have
   p.text-primary(style="line-height:25px")  Uplaod books detail with price. Users subscribed with that category will get realtime notification & your details
      h3 No Charges
   p.text-primary(style="line-height:25px")  Service is free & Connect with people directly


blockquote.blockquote-reverse(ng-repeat="request in bookRequests | orderBy:'request.ts':true" class="bookItem")
   p
      |<strong> {{request.bookTitle}} </strong> of author <strong> {{request.author}} </strong> requested by {{request.fullName}}
   small
      | Someone famous in
      cite(title='Source Title') Source Title



