
div.col-sm-12.col-md-9.col-lg-10.col-lg-push-2.col-md-push-3
      form(method="post" class="form-horizontal"  enctype="multipart/form-data")
         fieldset
            legend Request Book
            .form-group
               label.col-lg-2.control-label(for='inputEmail') Book title
               .col-lg-10
                  input#inputEmail.form-control(placeholder='Book title', type='text' name="title" required ng-model="data.title")
            .form-group
               label.col-lg-2.control-label(for='select') Category
               .col-lg-10
                  select(name="category" required ng-model="data.category")#select.form-control
                     option( ng-repeat="term in terms" value="{{term}}") {{term}}
            .form-group
               label.col-lg-2.control-label(for='inputEmail' ) Author
               .col-lg-10
                  input#inputEmail.form-control(placeholder='Author', type='text' name="author" required ng-model="data.author")
            .form-group
               .col-lg-10.col-lg-offset-2
                  button.btn.btn-default(type='reset') Cancel
                  button.btn.btn-primary(type='submit' ng-click="requestBook()") Submit
sidebar-terms(class="col-sm-12 col-md-3 col-lg-2 col-lg-pull-10 col-md-pull-9")