div#products.row.list-group
  div()
   div(ng-repeat="book in books" class=" col-xs-6 col-sm-6 col-md-4 col-lg-2")
      strong
         .thumbnail
            img.group.list-group-image.img-responsive.img-thumbnai(style="width:204px;height:164px;" src='/static/images/books/{{book.img_info.filename}}' alt='hii')
            .caption
               h5.group.inner.list-group-item-text.text-capitalize.truncate
                 strong(uib-tooltip="{{book.title}}")
                  | {{book.title}}
               .row.text-center
                  .col-xs-4.col-sm-4.col-md-5
                     div(style="display:inline-flex")
                        |<i class="fa fa-inr" style="font-size:15px;margin-top:3px;margin-right:2px"></i> {{book.price}}
                  .col-xs-4.col-sm-4.col-md-1
                      a( class="hand" ng-class="{'liked':likedByLoggedInUser(book.likedBy)}"  ng-if="user._id != book.created_by._id")
                        span(style="font-size:20px;" uib-tooltip="Like" index="$index" books="books" short-list-book to-user="book.created_by._id" book-id="book._id" ).glyphicon.glyphicon-heart
                        span( ng-if="book.likedBy.length !=0").likeCountClass {{book.likedBy.length}}
                  .col-xs-4.col-sm-4(style="font-size:20px" uib-tooltip="Message to owner" modal-trigger
                  size="'md'"
                  title="'Message to owner'" touser='book.created_by._id' bookid="book._id"
                  message="'This is a test'" tooltip-placement="top").col-md-1
                       a( class="hand" ng-if="user._id != book.created_by._id")
                            span.glyphicon.glyphicon-envelope

   div.col-xs-12(ng-if="books.length == 0")
       div.well
           strong  No book found
           a(ui-sref="requestBook").btn.btn-lg.btn-primary Request book

.row
       .col-md-12
                button(class="btn btn-danger pull-right loadMoreButton" style="display:none"  type="button" ng-click="incrementPageNumber()") load more books
