ul.list-unstyled.side-terms.row()
   li
      input(type="text" class="form-control" placeholder="filter" ng-model="filter")
   li(ui-sref-active="active")
      a(style="color:black" ui-sref="landing({term:''})" ) All Books
   li(ng-repeat="term in streamTerms | filter:filter" ui-sref-active="active" class="col-md-6 col-lg-12 col-sm-3 col-xs-12")
      a( style="color:black" ui-sref="landing({term: term })" ) {{term}}