h3 Select streams & you will be notified when a new book Or book request is made

h4 Subscribed Streams
blockquote
 span(ng-repeat="term in subscribed_terms" class="btn btn-sm btn-primary" uib-tooltip="Click to Unsubscribe" style="margin-right:3px;margin-top:2px" ng-click="unSubscribe(term)") {{term}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
 h5(ng-if="subscribed_terms.length == 0") No subscription

h4 |  Streams subscribe( <i>Click to subscribe</i>)
blockquote
 span(ng-repeat="term in unSubscribedTerms" class="btn btn-sm btn-primary" uib-tooltip="Click to subscribe" style="margin-right:3px;margin-top:2px"   ng-click="subscribe(term)" title="click to subscribe") {{term}}
 h5(ng-if="unSubscribedTerms.length == 0") Subscribed All