doctype html
html(lang="en" dir="ltr" ng-app="adminApp")
    block head
        include adminViews/partials/adminHead
    body(class="nav-md")
        div.container.body
            div.main_container
                include adminViews/partials/adminSidebar
                include adminViews/partials/adminHeader
                div( ui-view="content")
                //div.row
                //    div(class="col-sm-2") sidebar
                //        //sidebar-terms(class="col-sm-2" )
                //    div(class="col-sm-10" ui-view="content")
                //    //div(class="col-sm-4 col-sm-offset-2" ui-view="signup")
                //    //div(class="col-sm-4" ui-view="login")


        block content

        div(growl)
        script(src="/gn/vendors/jquery/dist/jquery.min.js")
        script(src="/gn/vendors/bootstrap/dist/js/bootstrap.min.js")
        script(src="/gn/build/js/custom.js" type="text/javascript")
        script(src="/ui-boot/ui-bootstrap.js")
        script(src="/ui-boot/ui-bootstrap-tpls.js")


