doctype html
html(lang="en" dir="ltr" ng-app="angularApp")
    block head
        include partials/head.jade
    body(ng-controller="bodyCtrl")

          include partials/header
          div.container(style="margin-top:72px")
              block content

                //div.row
                //    sidebar-terms(class="col-sm-12 col-md-3 col-lg-2 " ng-if="!isOnLogin()" )
                //    div(class="col-sm-12 col-md-9 col-lg-10" ui-view="content" )

                //div.row
                //    div(class="col-sm-12 col-sm-offset-4 " ui-view="signup")
                //
                //
                //    div(class="row" ui-view="login")
          div(growl)





