extends register_login_layout.jade
block sidebar
    div.col-sm-8.col-sm-offset-3.text-center
        div.jumbotron.text-center

            -if (signUpmsg != null)
            div.alert-danger #{signUpmsg}


            form( method="post" ng-controller="signUpCtrl")
                    img(src="/static/images/1475244781_key.png" width="60")
                    h2 Sign up
                    .box
                        input(type='text', class="form-control" placeholder='email' ng-model="data.email" name="email" required)
                        input(type='password', class="form-control" placeholder='password' ng-model="data.password" name="password" required)
                        input(type='text', class="form-control" placeholder='Contact number' ng-model="data.contact_number" name="contact_number" required)
                        input(type='text', class="form-control" placeholder='location' ng-model="data.location" name="location" required ng-autocomplete  options="options" details="details")
                        select(name="stream" ng-model="data.stream" required)#select.form-control
                            option(disabled selected value) -- Stream --
                            each term in terms
                                option(value="#{term}") #{term}

                        button(ng-click="signUp()").btn.btn-default.full-width
                            span.glyphicon.glyphicon-ok
block content
        div.col-sm-8.col-sm-offset-1.text-center
           .jumbotron
               -if (message != null)
                div.alert-danger #{message}
                .container
                    form(action="/login" method="post")
                         img(src="/static/images/1475244781_key.png" width="60")
                         h2 Login
                         .box
                            input(type='text', class="form-control" placeholder='email' name="email")
                            input(type='password', class="form-control" placeholder='password' name="password")
                            button.btn.btn-default.full-width
                                span.glyphicon.glyphicon-ok




