doctype html
html(lang="en" dir="ltr" ng-app="angularApp")
   block head
      include partials/head.jade
   body(ng-controller="bodyCtrl")
      div.container
         div.header
            include partials/header
         div.row
            div.col-sm-6
              block sidebar
            div.col-sm-6
               block content
