extends index.jade

block content
   div.col-sm-8.col-sm-offset-2.text-center
       div.jumbotron.text-center
           h1
               span.fa.fa-sign-in Signup

                   -if (message != null)
                        div.alert-danger #{message}

               form(action="/signup" method="post")
                  div.form-group
                     label Email
                     input(type="text" class="form-control" name="email")

                     label Password
                     input(type="password" class="form-control" name="password")
                     input(type="submit" class="form-control" value="submit")
                                    