.right_col(role='main')
    // top tiles
    .row.tile_count
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
            span.count_top
                i.fa.fa-user
                |  Total Books
            .count {{gridOptions.totalItems}}
            span.count_bottom
                i.green 4%
                |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
            span.count_top
                i.fa.fa-clock-o
                |  Total pending
            .count {{totalPending}}
            span.count_bottom
                i.green
                    i.fa.fa-sort-asc
                    | 3%
                |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
            span.count_top
                i.fa.fa-user
                |  Total Males
            .count.green 2,500
            span.count_bottom
                i.green
                    i.fa.fa-sort-asc
                    | 34%
                |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
            span.count_top
                i.fa.fa-user
                |  Total Females
            .count 4,567
            span.count_bottom
                i.red
                    i.fa.fa-sort-desc
                    | 12%
                |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
            span.count_top
                i.fa.fa-user
                |  Total Collections
            .count 2,315
            span.count_bottom
                i.green
                    i.fa.fa-sort-asc
                    | 34%
                |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
            span.count_top
                i.fa.fa-user
                |  Total Connections
            .count 7,325
            span.count_bottom
                i.green
                    i.fa.fa-sort-asc
                    | 34%
                |  From last Week
    // /top tiles
    .row
        .col-md-12.col-sm-12.col-xs-12
            .dashboard_graph
                .row.x_title
                    .col-md-6
                        h3
                            | Books
                            small Graph title sub-title
                        div(ui-grid="gridOptions" ui-grid-pagination ui-grid-selection )
                    .col-md-6
                        //book-detail(book-obj="bookObj" get-page="getPage()"  grid-api="gridApi" grid-options="gridOptions" ng-if="gridOptions.data.length >0")
                        .row.featurette
                             .col-md-7
                                h3 {{bookObj.title}}
                                small {{bookObj.category}}
                                p  {{bookObj.description}}
                                button(type="button" class="btn btn-primary" ng-click="approveBook(bookObj._id)") Approve
                                button(type="button" class="btn btn-danger" ng-click="deleteBook(bookObj._id)") Delete

                            .col-md-5
                                 img.featurette-image.img-responsive.center-block(data-src='/static/images/books/{{bookObj.img_info.filename}}', alt='500x500', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1N2QxZmYwYmExIHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU3ZDFmZjBiYTEiPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTgzLjUiIHk9IjI2MS43Ij41MDB4NTAwPC90ZXh0PjwvZz48L2c+PC9zdmc+', data-holder-rendered='true')


