

.row.featurette
      .col-md-7
         h3 {{bookObj.title}}
         small {{bookObj.category}}
         p  {{bookObj.description}}
         button(type="button" class="btn btn-primary" ng-click="approveBook(bookObj._id)") Approve
         button(type="button" class="btn btn-danger" ng-click="rejectBook(bookObj._id)") Delete

      .col-md-5
         img.featurette-image.img-responsive.center-block(data-src='/static/images/books/{{bookObj.img_info.filename}}', alt='500x500', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1N2QxZmYwYmExIHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU3ZDFmZjBiYTEiPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTgzLjUiIHk9IjI2MS43Ij41MDB4NTAwPC90ZXh0PjwvZz48L2c+PC9zdmc+', data-holder-rendered='true')


   //div(ng-repeat="book in bookObj" class="item col-xs-12 col-lg-12")
   //   strong
   //      .thumbnail
   //         img.group.list-group-image(src='/static/images/books/{{book.img_info.filename}}' alt='hii')
   //         .caption
   //            h4.group.inner.list-group-item-heading
   //               | {{book.title}}
   //            p.group.inner.list-group-item-text
   //               | {{book.description}}
   //            .row
   //               .col-xs-12.col-md-6
   //                  p.lead
   //                     |<i class="fa fa-inr" style="font-size:20px"></i> {{book.price}}
   //               .col-xs-12.col-md-6
   //                  button.btn.btn-default.pull-right.btn-sm(type='button')
   //                     span.glyphicon.glyphicon-envelope
   //                     |  Mail