body {
    font-size: 14px;
    font-family: 'Strait', sans-serif
}

body .glyphicon {
    margin-right: 5px
}

body .thumbnail {
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

body .item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px
}

body .item.list-group-item:nth-of-type(odd):hover, body .item.list-group-item:hover {
    background: #428bca
}

body .item.list-group-item .list-group-image {
    margin-right: 10px
}

body .item.list-group-item .thumbnail {
    margin-bottom: 0
}

body .item.list-group-item .caption {
    padding: 9px 9px 0 9px
}

body .item.list-group-item:nth-of-type(odd) {
    background: #eeeeee
}

body .item.list-group-item:before, body .item.list-group-item:after {
    display: table;
    content: " "
}

body .item.list-group-item img {
    float: left
}

body .item.list-group-item:after {
    clear: both
}

body .list-group-item-text {
    margin: 0 0 11px
}

a {
    color: #00B7FF
}
.side-terms li.active{
    font-weight: bold;
}
.fix-to-top {
    position: fixed;
    top: 0;
    width:13%;
}
.green-bg{
    background-color: green !important;
}

@media (max-width: 768px){
    .navbar-nav li,.howItWorks {
        text-align: center;
    }
    .navbar-form .input-group {
        margin: 0 auto;
    }
    sidebar-terms{
        text-align: center;
        margin-top: 0;
    }

    .likeCountClass{
        position: absolute;
        top: -12px;

        color: white;
        background-color: black;
        width: 16px;
        -webkit-border-radius: 8px;
        height: 16px;
        font-size: 9px;
        padding: 0px;
        margin-top: 1px;
        padding-top: 2px;
    }
}




@media only screen and (min-width : 768px) {
    .loginList{
        float:right;

    }
    .createUserContainer{
        margin-top:60px
    }
    .logInUserContainer{
        margin-top:60px
    }

    .howItWorks{
        padding-top:30px;
    }



    .likeCountClass{
        position: absolute;
        top: -12px;
        color: white;
        background-color: black;
        width: 16px;
        -webkit-border-radius: 8px;
        height: 16px;
        font-size: 9px;
        padding: 0px;
        margin-top: 1px;
        padding-top: 2px;
    }


    /*sidebar-terms{*/

        /*margin-top: 73px;*/
    /*}*/

}

@media (min-width: 992px) {
    .likeCountClass{
        position: absolute;
        top: -12px;
        right: -15px;
        color: white;
        background-color: black;
        width: 16px;
        -webkit-border-radius: 8px;
        height: 16px;
        font-size: 9px;
        padding: 0px;
        margin-top: 1px;
        padding-top: 2px;
    }


}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.afkl-lazy-wrapper img{
    max-width: 100%;
}

.bookItem.ng-enter {
    opacity: 0;
    background-color: lightgoldenrodyellow;

    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.bookItem.ng-enter-active {
    opacity: 1;
}
.truncate {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-200 {
    width:187px;
    white-space: nowrap;

    text-overflow: ellipsis;
}

.liked{
    color:pink;
}
.hand{
    cursor:pointer;
    color:#aab8c2;
}
.not-width{
    width: 256px;
    max-height:400px;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-top:0px;
}
.not-width li{
    width: inherit;
}
.not-width li a{
    white-space: normal;
    font-size:12px;
    padding:10px 12px;
}

.notCount{
   background-color: deeppink !important;
   color:white !important;
}


